.Title{
    color: Blue;
    text-align: center;
    font-family: poppins, serif ;
    font-size: 110px;
    padding-top: 0;
    padding-bottom: 5px;
}
@media(max-width:800px) {
    .Title{
        font-size: 50px;
    }

}
.DogCardLayout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
