.Title{
    color: Blue;
    text-align: center;
    font-family: poppins, serif ;
    font-size: 110px;
    padding-top: 0;
    padding-bottom: 5px;
}


ul{
    display: flex;
    text-align: center;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    background-color: #02075D;
    padding: 5px 0;

}
li a:hover{
    color: #F7E7CE;
}
.DogCard {
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.DogCard:hover {
    transform: scale(1.05);
}
.DogCardContent {
    display: flex;
    flex-direction: column;
}
.DogImage{
    border-radius: 50px 50px 0 0;
}
.DogCardHeader {
    font-family: Lora, "Times New Roman", serif;
}
.DogCardDescription {
    font-family: "Roboto Light", sans-serif;
}
.DogTags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}
.Heart{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.HeartImage{
    width: 50px;
    height: 50px;

}
.tag{
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    border-radius: 40px;
    background-color: #e9ecef;
    color: #495057;
}